<p id="notice"><%= notice %></p>

<p>
  <strong>Bidamount:</strong>
  <%= @bid.bidamount %>
</p>

<p>
  <strong>User:</strong>
  <%= @bid.user.username %>
</p>

<p>
  <strong>Product:</strong>
  <%= @bid.product.productname %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
